*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.xlsx binary
*.xls binary
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.bas text eol=lf
*.ps1 text eol=lf
*.json text eol=lf
*.svg text eol=lf
